form{
    width:500px;
    margin:0 auto;
}
.search {
    padding:6px 15px 6px 30px;
    margin:3px;
}
.dark {
    position: absolute;
    top:50%;
    right:30%;
}
body {
    background: url("steam.png");
}